/* Forgot Password Page Styles */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-card {
  background: #e3f2fd;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center; /* Centering the title */
}

.forgot-password-card h2 {
  margin-bottom: 40px; /* Increased gap below h2 */
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 12px; /* Increased padding */
  font-size: 16px;
  height: 50px; /* Increased height */
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #101010;
}

.btn-primary {
  padding: 6px 12px;
  font-size: 16px;
  display: block;
  width: 150px; /* Reduced width */
  margin: 10px auto 0; /* Centered the button */
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.success {
  color: #28a745;
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}

.text-primary {
  text-decoration: none;
  transition: color 0.3s;
}

.text-primary:hover {
  color: #0056b3;
}

p {
  text-align: left;
}
