<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="forgot-password-card">
    <h2 class="text-center">Forgot Password</h2>
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
    </form>

    <p *ngIf="message" class="success text-center">{{ message }}</p>
    <p *ngIf="error" class="error text-center">{{ error }}</p>

    <div class="text-center mt-3">
      <p>Remembered your password? 
        <a href="" class="text-primary fw-bold">Sign In</a>
      </p>
    </div>
  </div>
</div>
